body {
  font-family: sans-serif;
  background: #f5f5f5;
}

.hidden {
  display: none;
}

.hackentines-day-card-container {
  width: 500px;
  height: 200px;
  margin: 40px auto;
  background-color: #E1E1E1;
  padding: 120px 25px 270px 25px;
  cursor: pointer;
  border-radius: 40px;
  border: 15px;
  border-style: solid;
  border-color: #96cdb2;
}

.swatch {
  padding: 50px;
  margin: 10px;
  text-align: center;
}

.centered {
  text-align: center;
}

.animal {
  background: url("../images/piggy.jpg") no-repeat;
  height: 350px;
  margin-top: -70px;
  margin-left: 70px;
}

.hearts-gray {
  background: url("../images/hearts-gray.jpg") repeat;
}

.pink-text {
  color: #ff6c6c;
}

.blue-background {
  background: #CD96CD;
}

.mono-font {
  font-family: 'Monoton', cursive;
}
